.lock_title {
  color: #fff;
  font-weight: normal;
  width: 100%;
  h1 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }
  h2 {
    font-size: 0.8rem;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
  }
  h3 {
    font-size: 0.6rem;
    margin: 0;
  }
}