@import "../../style/mixin.scss";
.call_container {
  @include bgStyle;
  background: #212020;
  color: #fff;
  position: relative;

  .avatar_box {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .avatar {
      width: 3.8rem;
      height: 3.8rem;
      border-radius: 0.2rem;
      background-size: cover;
      background-position: center;
      overflow: hidden;
    }
    h1 {
      font-size: 0.8rem;
      font-weight: 500;
      margin: 0.4rem 0 0.14rem;
    }
    p {
      font-size: 0.6rem;
      font-weight: 300;
      color: #a8a7a7;
      margin: 0;
      &.bounce_dots{
        animation: heartBeat 2s ease-in-out 2s infinite;
        font-weight: 400;
        letter-spacing: 0.08rem;
      }
    }
  }
  .call_box {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 2rem;
    z-index: 999;
    img{
      width: 2.8rem;
      height: auto;
      animation: bounce 2s ease-in-out 2s infinite;
    }
  }
}
