@import "../../style/mixin.scss";
.call_container {
  @include bgStyle;
  background: #212020;
  color: #fff;
  position: relative;

  .audioWrapper {
    visibility: hidden;
  }

  .avatar_box {
    padding-top: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .avatar {
      width: 2.6rem;
      height: 2.6rem;
      border-radius: 0.2rem;
      background-size: cover;
      background-position: center;
      overflow: hidden;
    }
    h1 {
      font-size: 0.5rem;
      font-weight: 500;
      margin: 0.4rem 0 0.14rem;
    }
    p {
      font-size: 0.4rem;
      font-weight: 300;
      color: #a8a7a7;
      margin: 0;
      &.bounce_dots {
        animation: heartBeat 2s ease-in-out 2s infinite;
        font-weight: 400;
        letter-spacing: 0.02rem;
      }
    }
  }
  .call_box {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 1.2rem;
    z-index: 999;
    img {
      width: 1.8rem;
      height: auto;
      animation: bounce 2s ease-in-out 2s infinite;
    }
  }
}
