@import "../../style/mixin.scss";
.lock_container {
  @include bgStyle;

  .lock_screen {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 3rem;
    .lock_card {
      width: 75%;
      border-radius: 1.5rem;
      border: none;
      background-color: rgba(255, 255, 255, 0.9);
      font-size: 0.67rem;
      padding: 0.8rem;
      text-align: left;
      animation: fadeInUp 0.5s ease-out 0s 1;
      margin-top: 2rem;

      .card_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #444443;
        font-size: 0.6rem;
        height: 2.2rem;
        .card_badge {
          display: flex;
          align-items: center;
          justify-content: space-between;
          img {
            width: 1.4rem;
            height: 1.4rem;
            margin-right: 0.6rem;
          }
          span {
            color: #222221;
          }
        }
      }
      p {
        color: #7e7e7e;
        margin-bottom: 0;
        line-height: 1rem;
        margin-top: 0;
      }
    }
    .lock_trigger {
      position: absolute;
      bottom: 2.6rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      z-index: 999;
      .lock_hint {
        color: #fff;
        font-size: 0.6rem;
        font-weight: 400;
        animation: toggleShow 2s ease-in-out 2s infinite;
      }
      .lock_arrow {
        .arrow_ani {
          width: 0.6rem;
          height: 0.6rem;
          background-image: url("../../assets/image/arr.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          &:first-of-type {
            animation: slideUp 2s ease-in-out 1s infinite;
          }
          &:last-of-type {
            animation: slideUp2 2s ease-in-out 1s infinite;
          }
        }
      }
    }
  }

  .lock_keyboard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    color: #fff;
    .input_pass {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // padding-top: 2rem;
      height: 20%;
      p {
        font-size: 1rem;
        letter-spacing: 0.08rem;
        margin-bottom: 0.6rem;
      }
      ul {
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        &.pass_ani {
          animation: shakeX 0.3s ease-in-out 0s 1;
        }
        li.pass_dot {
          list-style: none;
          display: inline-block;
          width: 0.5rem;
          height: 0.5rem;
          background-color: #8d8d8c;
          border-radius: 50%;
          &.active {
            background-color: #e5e3e1;
          }
        }
      }
    }
    .visual_keyboard_wrapper {
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      .visual_keyboard {
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        justify-items: center;
        align-items: center;

        .board_item {
          width: 2.8rem;
          height: 2.8rem;
          background-color: rgba(255, 255, 255, 0.15);
          border-radius: 50%;
          margin: 0.6rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: background-color 0.2s ease-in-out;
          &:focus,
          &:active {
            background-color: rgba(255, 255, 255, 0.3);
            span {
              &:first-of-type {
                animation: bounce2 0.2s ease-in-out 0s 1;
              }
            }
          }
          &[data-index="0"] {
            grid-column-start: 2;
          }
          span {
            &:first-of-type {
              font-size: 1.2rem;
            }
            &:last-of-type {
              font-size: 0.4rem;
            }
          }
        }
      }
    }

    .opt_panel {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 2rem;
      color: #fff;
      font-size: 0.8rem;
      height: 20%;
      span {
        &:active {
          opacity: 0.8;
        }
      }
    }
  }

  @keyframes toggleShow {
    to {
      opacity: 0;
    }
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(1.2rem);
    }
  }
  @keyframes slideUp2 {
    from {
      opacity: 0;
      transform: translateY(0.5rem);
    }
  }
}
