.lock_container {
  background-image: url(../../assets/image/img-lock-bg.jpg);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  .lock_screen {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 100px;
    .lock_title {
      color: #fff;
      font-weight: normal;
      width: 100%;
      h1 {
        font-size: 3rem;
        padding: 0;
        margin: 0;
      }
      h2 {
        font-size: 0.8rem;
      }
      h3 {
        font-size: 0.6rem;
      }
    }
    .lock_card {
      width: 80%;
      border-radius: 1.5rem;
      border: none;
      background-color: rgba(255, 255, 255, 0.9);
      font-size: 0.92rem;
      padding: 20px;
      text-align: left;
      
      .card_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #444443;
        font-size: 0.8rem;
        div{
          span{
            color: #3b3a39;
          }
        } 
      }
      p{
        color: #7e7e7e;
        margin-bottom: 0;
        line-height: 1.5rem;
      }
    }
    .lock_trigger{
      position: absolute;
      bottom: 80px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .lock_hint{
        color: #fff;
        font-size: 0.8rem;
        font-weight: 300;
        animation: toggleShow 2s ease-in-out 0s infinite;
      }
      .lock_arrow{
        .arrow_ani{
          width: 16px;
          height: 11px;
          background-image: url("../../assets/image/arr.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          &:first-of-type{
            animation: slideUp 2s ease-in-out 1s infinite;
          }
          &:last-of-type{
            animation: slideUp2 2s ease-in-out 1s infinite;
          }
        }
      }
    }
  }

  .lock_keyboard{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    color: #fff;
    .input_pass{
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: start;
      padding-top: 100px;
      p{
        font-size: 1.3rem;
        letter-spacing: 5px;
        margin-bottom: 10px;
      }
      ul{
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        li.pass_dot {
          list-style: none;
          display: inline-block;
          width: 13px;
          height: 13px;
          background-color: #B6B1AB;
          border-radius: 50%;
          &.active{
            background-color: #E5E3E1;
          }
        }
      }
    }
    .visual_keyboard{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding-top: 60px;
      
      .board_item{
        width: 70px;
        height: 70px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        margin: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        &:focus,&:active{
          background-color: rgba(255, 255, 255, 0.3);
        }
        span{
          &:first-of-type{
            font-size: 2rem;
          }
          &:last-of-type{
            font-size: 0.6rem;
          }
        }
      }
    }
    .opt_panel{
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 40px;
      color: #fff;
      font-size: 1.3rem;
      padding-top: 40px;
    }
  }

  @keyframes toggleShow {
    to{
      opacity: 0;
      // font-size: 0.78rem;
    }
  }

  @keyframes slideUp {
    from{
      opacity: 0;
      transform: translateY(20px);
    }
  }
  @keyframes slideUp2 {
    from{
      opacity: 0;
      transform: translateY(5px);
    }
  }
}
