.App {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
:global {
  video::-webkit-media-controls-start-playback-button {
    display: none;
  }
  video::-webkit-media-controls {
    display: none;
  }
}
