@import "../../style/mixin.scss";
.desktop_container{
  @include bgStyle;
  padding-top: 2rem;
  position: relative;
  .desktop_menu{
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    img{
      width: 6rem;
      animation: bounce 2s ease-in-out 0s infinite;
    }
  }
}