@import "../../style/mixin.scss";
.play_container {
  @include bgStyle;
  background: #212020;
  color: #fff;
  position: relative;
  .play_wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 998;
    .video_player, video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .hangout_box {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 1rem;
    z-index: 999;
    img{
      width: 2.5rem;
      height: auto;
      // animation: bounce 2s ease-in-out 0s infinite;
    }
  }
}
